In [3]:
name = "Sam"
list=[]
list.append(name)
list
list[0][0]
#name[0]='P' String can't do the index

'S'

In [3]:
#String concatnation
last_letters = name[1:]
new_letter = 'P'+last_letters
print(new_letter)

Pam

In [4]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [5]:
#concatnate number with string
2+3

5

In [6]:
'2'+'3'

'23'

In [10]:
x='Hello World'
x.upper()

'HELLO WORLD'

In [11]:
x.lower()
x.split()

['Hello', 'World']

In [12]:
x="Hi this is a string"
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [13]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [18]:
#.format() method

print("This is a string{}".format('INSERTED'))
print('The {2} {1} {0}'.format('fox','brown','quick'))

#assign key words using symbols
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick') )

This is a stringINSERTED
The quick brown fox
The quick brown fox

In [19]:
result = 100/77
result

1.2987012987012987

In [20]:
# float formatting follows {value:width.precision f}
print("The result was {r:1.3f}".format(r=result))

The result was 1.299

In [21]:
#f-String format
name = "Jose"
print("His name is {}".format(name))

His name is Jose

In [23]:
print(f'His name is {name}')

His name is Jose

In [24]:
name = "Dorry"
age = "22"
print(f'Her name is {name} and she is {age}')

Her name is Dorry and she is 22

# List

In [25]:
my_list = [1,2,3]
my_list = ["String",100,23.2]
len(my_list)

3

In [26]:
mylist = ['one','two','three']
#slicing and indexing works just like string
mylist[1:]

['two', 'three']

In [29]:
another_list = ['four','five']
new_list = mylist+another_list
print(new_list)

['one', 'two', 'three', 'four', 'five']

In [30]:
new_list[0] = 'ONE ALL CAPS'
print(new_list)

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [31]:
new_list.append('six') #add new item to the end of the list

In [32]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [34]:
#remove item from the end of the list
#.pop also returns the item from the end of the list
new_list.pop()

'six'

In [35]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [36]:
pop_item = new_list.pop()
pop_item

'five'

In [37]:
#remove an item (with specific index position) from the list
new_list.pop(0)

'ONE ALL CAPS'

In [38]:
new_list

['two', 'three', 'four']

In [40]:
#sort() and reverse()
new_list = ['a','e','x','m','q','z','c','g']
num_list = [5,3,7,8,2,1]

new_list.sort() #this sorting the values on the original list, so we do not need to reassign this to a new list
new_list

['a', 'c', 'e', 'g', 'm', 'q', 'x', 'z']

In [41]:
num_list

[5, 3, 7, 8, 2, 1]

In [42]:
num_list.sort()
num_list

[1, 2, 3, 5, 7, 8]

In [44]:
num_list.reverse()
num_list

[1, 2, 3, 5, 7, 8]

In [45]:
#nested list,how to get 2
list_1 = [1,1,[1,2]]
list_1[2][1]

2

# Dictionary: Objects retrieved by key name
They are unordered and can not be sorted
Dictionary are mappings and do not retain order. IF you do want the capabilities of a dictionary but would like ordering as well, check out the ordereddict object lecture

# Lists: Objects retrieved by location.
Ordered Sequences that can be indexed and sorted.

In [46]:
my_dict={'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [47]:
my_dict['key1']

'value1'

In [51]:
prices_lookup = {'apple':2.99,'orange':1.99,
                'milk':5.80}
prices_lookup['apple']

2.99

In [52]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}
d['k2']

[0, 1, 2]

In [54]:
d['k3']['insidekey']

100

In [56]:
d={'key1':['a','b','c']}
d

{'key1': ['a', 'b', 'c']}

In [59]:
mylist = d['key1']
letter = mylist[2]
letter.upper()

'C'

In [60]:
d['key1'][2].upper()

'C'

In [61]:
d['key2']=300
d

{'key1': ['a', 'b', 'c'], 'key2': 300}

In [63]:
d['key1'] = 'new value'
d

{'key1': 'new value', 'key2': 300}

In [64]:
d.keys()

dict_keys(['key1', 'key2'])

In [65]:
d.values()

dict_values(['new value', 300])

In [66]:
d.items()

dict_items([('key1', 'new value'), ('key2', 300)])

# Tuples
Similar to lists. Immutability
Once an element is assigned, it cannot be reassigned.
Tuples use parenthesis

In [67]:
t=(1,2,3)
mylist=[1,2,3]
type(t)
type(mylist)

list

In [68]:
type(t)

tuple

In [69]:
len(t)

3

In [70]:
t[-1]

3

In [72]:
#count how many times a appeared in t
t=('a','a','b')
t.count('a')

2

In [73]:
t.index('a') #returns the index first time a appears in the tuple

0

# Set: unordered collections of unique elements
 There can only be one representative of the same object

In [74]:
myset = set()
myset

set()

In [76]:
myset.add(1)
myset

{1}

In [78]:
myset.add(x)
myset

{1, 'Hi this is a string'}

In [79]:
mylist = [1,1,1,1,1,1,1,2,2,2,2,2,2,]
set(mylist)

{1, 2}

In [ ]:
#Booleans are operators that allow you to convery True or False statement